{% extends 'gurps_manager/index.html' %}

{% block title %}Delete Campaign "{{ campaign.name }}"{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-campaign' %}'>Campaigns</a></li>
        <li><a
            href='{% url 'gurps-manager-campaign-id' campaign.id %}'
            >{{ campaign.name }}</a></li>
        <li><a
            href='{% url 'gurps-manager-campaign-id-delete-form' campaign.id %}'
            >Deletion Form</a></li>
    </ol>
{% endblock %}

{% block body %}
<h1>Delete Campaign "{{ campaign.name }}"</h1>
<p>Are you <strong>sure</strong> you want to delete this campaign?</p>
<form method='post' action='{% url 'gurps-manager-campaign-id' campaign.id %}'>
    {% csrf_token %}
    <input type='hidden' name='_method' value='DELETE' />
    <p><button>Submit</button></p>
</form>
{% endblock %}
