{% extends 'gurps_manager/index.html' %}
{% load static from staticfiles %}

{% block title %}Campaign {{ campaign.name }}{% endblock %}

{% block head %}
    <link rel='stylesheet' href='{% static 'gurps_manager/css/object-id.css' %}'>
{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-campaign' %}'>Campaigns</a></li>
        <li><a
            href='{% url 'gurps-manager-campaign-id' campaign.id %}'
            >{{ campaign.name }}</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>{{ campaign.name }}</h1>
    <p>
        {% if user == campaign.owner or user.is_superuser %}
        <a href='{% url 'gurps-manager-campaign-id-update-form' campaign.id %}'>Edit</a> or
        <a href='{% url 'gurps-manager-campaign-id-delete-form' campaign.id %}'>Delete</a>
        {% endif %}
    </p>
    <p>
        This campaign has {{campaign.item_set.count}}
        <a href='{% url 'gurps-manager-campaign-id-items' campaign.id %}'
        >items</a> and {{campaign.spell_set.count}}
        <a href='{% url 'gurps-manager-campaign-id-spells' campaign.id %}'
        >spells</a>. There are {{campaign.character_set.count}} characters in
        this
        {% if campaign.character_set.count %}campaign:
        {% else %}campaign.
        {% endif %}
    </p>
    {% if campaign.character_set.count %}
    <ul>
        {% for character in campaign.character_set.all %}
        <li>
            <a href='{% url 'gurps-manager-character-id' character.id %}'
            >{{character.name}}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Description</h2>
    <p>{{ campaign.description|default:'No description.' }}</p>
{% endblock %}
