{% extends 'gurps_manager/index.html' %}

{% block title %}Update Campaign "{{ campaign.name }}"{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-campaign' %}'>Campaigns</a></li>
        <li><a
            href='{% url 'gurps-manager-campaign-id' campaign.id %}'
            >{{ campaign.name }}</a></li>
        <li><a
            href='{% url 'gurps-manager-campaign-id-update-form' campaign.id %}'
            >Update Form</a></li>
    </ol>
{% endblock %}

{% block body %}
<h1>Update "{{ campaign.name }}"</h1>
<form method='post' action='{% url 'gurps-manager-campaign-id' campaign.id %}'>
    {% csrf_token %}
    <input type='hidden' name='_method' value='PUT' />
    {{ form.as_p }}
    <p><button>Submit</button></p>
</form>
{% endblock %}
