{% extends 'gurps_manager/index.html' %}
{% load static from staticfiles %}

{% block title %}Update Campaign {{ campaign.name  }} Spells{% endblock %}

{% block head %}
    <link rel='stylesheet' href='{% static 'gurps_manager/css/multicolumn-form.css' %}'>
{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-campaign' %}'>Campaigns</a></li>
        <li><a href='{% url 'gurps-manager-campaign-id' campaign.id %}'
            >{{ campaign.name }}</a></li>
        <li><a href='{% url 'gurps-manager-campaign-id-spells' campaign.id %}'
            >Spells</a></li>
        <li><a href='{% url 'gurps-manager-campaign-id-spells-update-form' campaign.id %}'
            >Update Form</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Update Spells in "{{ campaign.name }}"</h1>
    <form method='post' action='{% url 'gurps-manager-campaign-id-spells' campaign.id %}'>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for element in formset %}
            <section>{{ element.as_p }}</section>
        {% endfor %}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
