{% extends 'gurps_manager/index.html' %}

{% block title %}Campaign {{ campaign.name  }} Items{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-campaign' %}'>Campaigns</a></li>
        <li><a href='{% url 'gurps-manager-campaign-id' campaign.id %}'
            >{{ campaign.name }}</a></li>
        <li><a href='{% url 'gurps-manager-campaign-id-items' campaign.id %}'
            >Items</a></li>
        <li><a href='{% url 'gurps-manager-campaign-id-items-update-form' campaign.id %}'
            >Update Form</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Update Items for Campaign "{{ campaign.name }}"</h1>
    <form method='post' action='{% url 'gurps-manager-campaign-id-items' campaign.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='PUT' />
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tbody>
            {{ form }}
            </tbody>
            {% endfor %}
        </table>
        <p><button>Submit</button></p>
    </form>
{% endblock %}
