{% extends 'gurps_manager/index.html' %}
{% load static from staticfiles %}

{% block title %}Character {{ character.name }}{% endblock %}

{% block head %}
    <link rel='stylesheet' href='{% static 'gurps_manager/css/object-id.css' %}'>
    <style type='text/css'>
        section > dl {
            column-width: 19em;
            column-rule: thin solid #8291A0;
            -moz-column-width: 19em;
            -moz-column-rule: thin solid #8291A0;
            -webkit-column-width: 19em;
            -webkit-column-rule: thin solid #8291A0;
        }
        section > dl dt {font-style: italic;}
        section > dl dd {
            break-before: avoid;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-character' %}'>Characters</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id' character.id %}'
            >{{ character.name }}</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>{{ character.name }}</h1>
    <p>
        {% if user == character.owner or user.is_superuser %}
        <a href='{% url 'gurps-manager-character-id-update-form' character.id %}'>Edit</a> or
        <a href='{% url 'gurps-manager-character-id-delete-form' character.id %}'>Delete</a>
        {% endif %}
    </p>
    <p>
        {% if user == character.owner or user.is_superuser %}
            This character has {{character.hitlocation_set.count}} <a
            href='{% url 'gurps-manager-character-id-hit-locations' character.id %}'
            >hit locations</a>, {{character.possession_set.count}} unique <a
            href='{% url 'gurps-manager-character-id-possessions' character.id %}'
            >possessions</a>, {{character.skills.count}} <a
            href='{% url 'gurps-manager-character-id-skills' character.id %}'
            >skills</a>, {{character.spells.count}} <a
            href='{% url 'gurps-manager-character-id-spells' character.id %}'
            >spells</a> and {{character.trait_set.count}} <a
            href='{% url 'gurps-manager-character-id-traits' character.id %}'
            >traits</a>. They are participating in the campaign "<a
            href='{% url 'gurps-manager-campaign-id' character.campaign.id %}'
            >{{character.campaign.name}}</a>".
        {% else %}
            This character has {{character.hitlocation_set.count}} hit locations,
            {{character.possession_set.count}} unique possessions,
            {{character.skills.count}} skills,
            {{character.spells.count}} spells and
            {{character.trait_set.count}} traits.
            They are participating in the campaign "{{character.campaign.name}}".
        {% endif %}
    </p>
    <section>
        <h1>Basic Information</h1>
        <dl>
            <dt>Description</dt>
            <dd>{{ character.description|default:'No description.' }}</dd>

            <dt>Story</dt>
            <dd>{{ character.story|default:'No story.' }}</dd>

            <dt>Character points limit</dt>
            <dd>{{ character.total_points }}</dd>

            <dt>Character points spent</dt>
            <dd>{{ character.total_points_spent }}</dd>

            <dt>Character points remaining</dt>
            <dd>{{ character.points_remaining }}</dd>
        </dl>
    </section>
    <section>
        <h1>Attributes</h1>
        <dl>
            <dt>Strength</dt>
            <dd>{{ character.strength }}</dd>
            <dd>{{ character.points_in_strength }} points</dd>

            <dt>Dexterity</dt>
            <dd>{{ character.dexterity }}</dd>
            <dd>{{ character.points_in_dexterity }} points</dd>

            <dt>Intelligence</dt>
            <dd>{{ character.intelligence }}</dd>
            <dd>{{ character.points_in_intelligence }} points</dd>

            <dt>Health</dt>
            <dd>{{ character.health }}</dd>
            <dd>{{ character.points_in_health }} points</dd>
        </dl>
        <p>Points in attributes: {{character.total_points_in_attributes }}</p>
    </section>
    <section>
        <h1>Derived Stats</h1>
        <dl>
            <dt>Hitpoints</dt>
            <dd>{{ character.hitpoints }}</dd>

            <dt>Fatigue</dt>
            <dd>Max: {{ character.fatigue }}</dd>
            <dd>Spent: {{ character.used_fatigue }}</dd>

            <dt>Initiative</dt>
            <dd>{{ character.initiative }}</dd>

            <dt>Speed</dt>
            <dd>{{ character.speed }}</dd>

            <dt>Movement</dt>
            <dd>{{ character.movement }}</dd>

            <dt>Dodge</dt>
            <dd>{{ character.dodge }}</dd>

            <dt>Alertness</dt>
            <dd>{{ character.alertness }}</dd>

            <dt>Willpower</dt>
            <dd>{{ character.will }}</dd>

            <dt>Fright</dt>
            <dd>{{ character.fright }}</dd>
        </dl>
    </section>
    <section>
        <h1>Special Traits</h1>
        <dl>
            <dt>Appearance</dt>
            <dd>{{ character.get_appearance_display }}</dd>
            <dd>{{ character.appearance }} points</dd>

            <dt>Wealth</dt>
            <dd>{{ character.get_wealth_display }}</dd>
            <dd>{{ character.wealth }}</dd>

            <dt>Eidetic Memory</dt>
            <dd>{{ character.get_eidetic_memory_display }}</dd>
            <dd>{{ character.eidetic_memory }} points</dd>

            <dt>Muscle Memory</dt>
            <dd>{{ character.get_muscle_memory_display }}</dd>
            <dd>{{ character.muscle_memory }} points</dd>

            <dt>Magery</dt>
            <dd>Level {{ character.magery }}</dd>
            <dd>{{ character.points_in_magery }} points</dd>
        </dl>
        <p>Points in special traits: {{character.total_points_in_special_traits }}</p>
    </section>
{% endblock %}
