{% extends 'gurps_manager/index.html' %}

{% block title %}Character {{ character.name }} Possessions{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-character' %}'>Characters</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id' character.id %}'
            >{{ character.name }}</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id-possessions' character.id %}'
            >Possessions</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id-possessions-update-form' character.id %}'
            >Update Form</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Update Possessions for Character "{{ character.name }}"</h1>
    <form method='post' action='{% url 'gurps-manager-character-id-possessions' character.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='PUT' />
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tbody class="form">
            {{ form }}
            </tbody>
            {% endfor %}
        </table>
        <p><button>Submit</button></p>
    </form>
{% endblock %}
