{% extends 'gurps_manager/index.html' %}

{% block title %}Character {{ character.name }} Spells{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-character' %}'>Characters</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id' character.id %}'
            >{{ character.name }}</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id-spells' character.id %}'
            >Spells</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id-spells-update-form' character.id %}'
            >Update Form</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Update {{ character.name }}'s Spells</h1>
    <form method='post' action='{% url 'gurps-manager-character-id-spells' character.id %}'>
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tbody>
            {{ form }}
            </tbody>
            {% endfor %}
        </table>
        <p><button>Submit</button></p>
    </form>
{% endblock %}
