{% extends 'gurps_manager/index.html' %}
{% load static from staticfiles %}

{% block title %}Update Character {{ character.name }} Skills{% endblock %}

{% block head %}
    <link rel='stylesheet' href='{% static 'gurps_manager/css/multicolumn-form.css' %}'>
{% endblock %}

{% block breadcrumb %}
    <ol>
        <li><a href='{% url 'gurps-manager-character' %}'>Characters</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id' character.id %}'
            >{{ character.name }}</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id-skills' character.id %}'
            >Skills</a></li>
        <li><a
            href='{% url 'gurps-manager-character-id-skills-update-form' character.id %}'
            >Update Form</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Update {{ character.name }}'s Skills</h1>
    <form method='post' action='{% url 'gurps-manager-character-id-skills' character.id %}'>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for element in formset %}
            <section>{{ element.as_p }}</section>
        {% endfor %}
        <p><button>Submit</button></p>
    </form>
{% endblock %}
