{% extends 'gurps_manager/index.html' %}

{% block title %}Character {{ character.name }} Hit Locations{% endblock %}

{% block body %}
    <h1>Update Hit Locations for Character "{{ character.name }}"</h1>
    <form method='post' action='{% url 'gurps-manager-character-id-hit-locations' character.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='PUT' />
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            {{ form }}
            {% endfor %}
        </table>
        <p><button>Submit</button></p>
    </form>
{% endblock %}
