{% extends 'gurps_manager/index.html' %}

{% block title %}Character {{ character.name }} Skills{% endblock %}

{% block body %}
    <h1>Update Skills for Character "{{ character.name }}"</h1>
    <form method='post' action='{% url 'gurps-manager-character-id-skills' character.id %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='PUT' />
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tbody>
            {{ form }}
            </tbody>
            {% endfor %}
        </table>
        <p><button>Submit</button></p>
    </form>
{% endblock %}
