{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href='{% static 'gurps_manager/css/site-wide.css' %}'>
    <link rel='stylesheet' href='{% static 'gurps_manager/css/base.css' %}'>
    {% block head %}{% endblock %}
</head>
<body>
    <form method='post' action='{% url 'gurps-manager-login' %}'>
        {% csrf_token %}
        <input type='hidden' name='_method' value='DELETE' />
        <p>Hello, {{ user.username }}.</p>
        <button>log out</button>
    </form>
    <nav class='clearfix'>
        <!--
        There are several arguments in favor of placing this paragraph and image
        in the <nav> section:
        * This banner is a navigation element, as its purpose is to send users
          to the Steve Jackson Games website.
        * This banner is a "major navigation" element. This entire application
          would not exist if not for Steve Jackson games, so let's give the link
          the prominence it deserves.
        * "the first use of a product logo on any webpage [...] must link back
          to our official page for that product"
        -->
        <p>
            <a href='http://www.sjgames.com/gurps/'><img
                src='{% static 'gurps_manager/images/minisjgbanner.gif' %}'
                alt='Steve Jackson Games'
            /></a>
        </p>
        <ul>
            <li><a href='{% url 'gurps-manager-index' %}'>Home</a></li>
            <li><a href='{% url 'gurps-manager-campaign' %}'>Campaigns</a></li>
            <li><a href='{% url 'gurps-manager-character' %}'>Characters</a></li>
        </ul>
        {% block breadcrumb %}{% endblock %}
    </nav>
    {% block body %}
    <h1>GURPS Manager</h1>
    <p>This is placeholder content.</p>
    {% endblock %}
    <footer>
        <p>
            GURPS is a trademark of Steve Jackson Games, and its rules and art
            are copyrighted by Steve Jackson Games. All rights are reserved by
            Steve Jackson Games. This game aid is the original creation of Henry
            M. Corse &amp; Jeremy R. Audet and is released for free
            distribution, and not for resale, under the permissions granted in
            the <a
            href='http://www.sjgames.com/general/online_policy.html'>Steve
            Jackson Games Online Policy</a>.
        </p>
    </footer>
</body>
</html>
